
<h1 id="game" data-game-id=<%= @game.id %>>Javascript Racer</h1>

Player 1: <%= @player1.name %>
<table class="racer_table">


  <tr id="row1">
    <% 20.times do %>
      <td class="box"></td>
    <% end %>
  </tr>

  <tr id="row2">
     <% 20.times do %>
      <td class="box"></td>
    <% end %>
 
  </tr>

</table>
Player 2: <%= @player2.name %>

<script>
  $(document).ready(function(){
   
    $('tr td:first-child').addClass("active");

 
    // q keycode is 81
    // p keycode is 80
    $(document).on('keyup', function(event) {
      if(event.keyCode === 81)
        update_player_position(1);
      if(event.keyCode === 80)
        update_player_position(2)
   
    });

    function update_player_position(player){
      
      var position = $("#row" + player + " td.active").index();
      $("#row" + player + " td.active").removeClass("active");
      $("#row" + player + " td").eq(position + 1).addClass("active");
      check_winner(player);
    
    }

    function check_winner(player){
      var position = $("#row" + player + " td.active").index();
      if (position + 1 == $("#row" + player + " td.active").length){
        alert("Player " + player + " has won!");
        update_game(player);
        return true;
      }
    }

    function update_game(player){
      var gameId = $("#game").data("game-id");
      var loser;
      player === 1 ? loser = 2 : loser = 1;
      var loserIndex = $("#row" + loser + " td.active").index();
    
      $.ajax({
        type: "PUT",
        url: "/games/" + gameId,
        data: {"game_id": gameId, "player_num": player, "loser_index": loserIndex},
        success: function(response) {
          window.location = "/games/" + gameId;
          },
        error: function(request, errorType, errorMessage) {
          alert('Error: ' + errorType + ' with message: ' + errorMessage)}

      });
   }

})

 
</script>