<h2>Welcome to Javascript Racer</h2>



<form action="/games/new" method="POST">
<label>Player 1</label>
<input type="text" name="player1" placeholder="Player 1">
<br />
<br />
<label>Player 2</label>
<input type="text" name="player2" placeholder="Player 2">
<br />
<br />
<input type="submit" value="Start">
</form>